<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>

    <!--FALTA HACER QUE LOS INPUT DE NÚMEROS SEAN MÁS CHICOS Y LOS DE TEXTOS Y LAS AYUDAS DE TODO EL ESPACIO.-->

    <div class="formulario cambiarFuente">

        <form class="form" th:action="${producto.id != 0} ? @{/admin/editarProducto/submit} : @{/admin/nuevoProducto/submit}" 
        th:object="${producto}" method="POST">
            <fieldset>
            
            <!-- Form Name -->
            <legend th:text="${producto.id !=0 } ? 'Modificar producto' : 'Nuevo producto' "></legend>
            
            <input th:field="*{id}" class = "hidden">
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Nombre</label>  
              <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" placeholder="Nombre" 
              class="form-control input-md" th:field="*{nombre}">
              <span class="help-block">Introduzca el nombre del producto</span>  
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Imagen</label>  
              <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" placeholder="http://......" 
              class="form-control input-md" th:field="*{imagen}">
              <span class="help-block">Introduzca la url del producto</span>  
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-12 control-label" for="textinput">Marca</label>  
              <div class="col-md-12">
              <input id="textinput" name="textinput" type="text" placeholder="Independent" 
              class="form-control input-md" th:field="*{marca}">
              <span class="help-block">Introduzca la marca del producto</span>  
              </div>
            </div>

            <!-- Multiple Radios -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="radios">Tipo</label>
              <div class="col-md-4">
              <div class="radio">
                <label for="radios-0">
                  <input type="radio" name="radios" id="radios-0" value="1">
                  Tabla
                </label>
                </div>
              <div class="radio">
                <label for="radios-1">
                  <input type="radio" name="radios" id="radios-1" value="2">
                  Eje
                </label>
                </div>
              <div class="radio">
                <label for="radios-2">
                  <input type="radio" name="radios" id="radios-2" value="3">
                  Rueda
                </label>
                </div>
              <div class="radio">
                <label for="radios-3">
                  <input type="radio" name="radios" id="radios-3" value="4">
                  Rodamientos
                </label>
                </div>
              <div class="radio">
                <label for="radios-4">
                  <input type="radio" name="radios" id="radios-4" value="5">
                  Lija
                </label>
                </div>
              <div class="radio">
                <label for="radios-5">
                  <input type="radio" name="radios" id="radios-5" value="8">
                  Cera
                </label>
                </div>
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Precio</label>  
              <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" placeholder="9999" 
              class="form-control input-md" th:field="*{precio}">
              <span class="help-block">Introduzca el precio del producto</span>  
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Cantidad</label>  
              <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" placeholder="3" 
              class="form-control input-md" th:field="*{cantidad}">
              <span class="help-block">Introduzca la cantidad de productos de las que disponemos</span>  
              </div>
            </div>

            <div class="form-group align-items-center">
              <input type="submit" class="btn btn-primary" value="Enviar">
            </div>
            
            </fieldset>
            </form>

    </div>
    
</body>
</html>