<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">    
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">

</head>
<body>
      <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="../static/media/skateLogo.png" th:src="@{/media/skateLogo.png}" alt="skateLogo" width="90px">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" th:href="@{/tienda}">Tienda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/galeria}">Fotos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/logIn}" sec:authorize="!isAuthenticated()">Log In</a>
                  </li>
                  <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <li class="nav-item"> 
                      <a class="nav-link" th:href="@{/admin/gestion}" sec:authorize="isAuthenticated()">Gestion</a>
                    </li>
                  </span>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/logOut}" sec:authorize="isAuthenticated()">Log Out</a>
                  </li>            
                </ul>
                <span class="navbar-text pe-4 fs-2">
                  <p sec:authorize="isAuthenticated()" sec:authentication="name"></p>
                </span>              
              </div>
            </div>
        </nav>
          <div class="col-12 bg-secondary mb-3 p-4">
            <div class="row">
              <div class="col-6">
                <form th:action="@{search}" th:object="${buscarForm}" method="POST" class="border-0">
                  <input type="text" name="nombre" placeholder="Buscar" th:field="*{busqueda}" class="ml-1 p-2"/>
                  <button class="btn btn-primary p-2" type="submit">Filtrar</button>
                </form>
              </div>
              <div class="col-6 text-end pe-4">
                <a class="btn btn-success px-3 py-2 border-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                  <i class="bi bi-cart fs-4"></i>
                </a>
              </div>
            </div>
          </div>
        
      </header>

      <div>
        <div class="offcanvas offcanvas-start w-75" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carrito</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div>
              Todos los productos que eligio, no podrá comprarlos hasta logear.
            </div>
            <div class="table-responsive mt-4 text-nowrap">
              <table class="table-align-middle">
                <thead>
                  <th class="pt-3 pe-3">Producto</th>
                  <th class="pt-3 pe-3">Cantidad</th>
                  <th class="pt-3 pe-3">Precio Ud.</th>
                  <th class="pt-3 pe-3">Subtotal</th>                
                </thead>
                <tbody>
                  <tr th:each="lineaVenta : ${carrito}">          
                    <td class="pe-5 pt-3" th:text="${lineaVenta.key.nombre}"></td>
                    <td class="pe-5 pt-3">
                      <span th:text="${lineaVenta.value}" class="me-4"></span>
                      <a class="btn btn-danger me-1" th:href="@{/quitarUnidad/{id}(id = ${lineaVenta.key.id})}">
                        <i class="bi bi-cart-dash fs-5"></i>
                      </a>
                      <a class="btn btn-primary" th:href="@{meterEnCarrito/{id}(id = ${lineaVenta.key.id})}">
                        <i class="bi bi-cart-plus fs-5"></i>
                      </a>
                    </td>
                    <td class="pe-5 pt-3" th:text="${#numbers.formatCurrency(lineaVenta.key.precio)}"></td>
                    <td class="pe-5 pt-3" th:text="${#numbers.formatCurrency(lineaVenta.key.precio * lineaVenta.value)}"></td>
                    <td class="pe-5 pt-3"><a class="btn btn-secondary" th:href="@{/quitarDeCarrito/{id}(id = ${lineaVenta.key.id})}"><i class="bi bi-trash fs-5"></i></a></td>
                  </tr>
                  <tr>
                    <td class="pt-4 ps-2" colspan=3><strong >Total: <span th:text="${#numbers.formatCurrency(precioFinal)}"></span></strong></td>
                  </tr> 
                  <!--Añadir boton de finalizar compra. Si no estas logeado al login, si lo estas al checkOut-->
                  <tr>
                    <td colspan=2></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>              
          </div>
        </div>
      </div>
        <!--ESTA ES LA WENAAAA-->
        <div class="row">
          <div class="col-sm-3 mb-3" th:each="producto : ${productos}">
            <div class="card col-item p-2 bg-light h-100">
              <img th:src="${producto.imagen}" alt="Imagen de producto" class="img-responsive h-100 w-100">
              <div>
                <p class="text-center" th:text="${producto.nombre}"></p>
                <p class="font-weight-bold text-primary text-center" th:text="${#numbers.formatCurrency(producto.precio)}"><p>
              </div>
              <!--Aquí me falta añadir el boton de comprar que mandará al carrito.html-->
              <a th:href="@{meterEnCarrito/{id}(id = ${producto.id})}" class="btn btn-primary text-center">Añadir al carrito</a>
            </div>
          </div>
        </div>

        <footer>
      
          <div class="row columnaBonita p-1 p-lg-3 ">
        
            <div class="col-md-4 col-xs-12">
              <p style="font-weight: 800;">C. Condes de Bustillo, 17
              41010 Sevilla</p>
            </div>
        
            <div class="col-md-4 col-xs-12">
              <img src="../static/media/skateLogo.png" th:src="@{/media/skateLogo.png}" alt="Logo skate" width="100px">
            </div>
        
            <div class="col-md-4 col-xs-12">
        
              <p style="font-weight: 800;">Contáctanos</p>
              <a href="https://es-la.facebook.com/ThrasherMagazine/" class="me-3">
                <i class="bi bi-facebook fs-4"></i>
              </a>
              <a href="https://twitter.com/thrashermag?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="me-3">
                <i class="bi bi-twitter fs-4"></i>
              </a>
              <a href="https://www.instagram.com/a_nt0ni_0/" class="me-3">
                <i class="bi bi-instagram fs-4"></i>
              </a>             
            </div>
        
              
          </div>
        
        </footer>
</body>
</html>